<app-common-header>
</app-common-header>

<div class="p-top container">

    <main role="main">
        <section class="jumbotron text-center rounded box-shadow">
            <div class="container">
                <h1 class="jumbotron-heading">{{ 'home.my_clusters.title' | translate }}</h1>
                <p class="lead text-muted">{{ 'home.my_clusters.description' | translate }}</p>
                <div (click)="open(createModal)" class="btn btn-primary my-2">{{ 'home.my_clusters.create' | translate }}</div>
            </div>
        </section>
    </main>

    <div *ngFor="let cluster of (homeState$ | async).clusters">
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <div class="border-bottom border-gray pb-2 mb-0">
                <div class="row">
                    <div class="col-sm-8">
                        <h6>Cluster name: {{cluster.name}} (type: {{cluster.deployerType}})</h6>
                    </div>
                    <div class="col-sm-4">
                        <div class="float-right">
                            <button type="button" class="btn btn-primary" (click)="refreshCluster(cluster.deployerType, cluster.name)">Refresh</button>
                            <button type="button" class="btn btn-danger" (click)="deleteCluster(cluster.deployerType, cluster.name)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="media text-muted pt-3" *ngFor="let node of cluster.nodes; let i = index">
                <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;"
                    src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_163cb092a20%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_163cb092a20%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2212.249999761581421%22%20y%3D%2216.975000071525574%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                    data-holder-rendered="true">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="text-gray-dark">Node: </strong>{{i}} - 
                    <strong class="text-gray-dark">Port: </strong>{{node.port}} - 
                    <strong class="text-gray-dark">Status: </strong>{{node.status | uppercase}}
                    <br/>
                    <span>Node ID: {{node.id}}</span>
                </p>
            </div>
        </div>
    </div>
</div>

<ng-template #createModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{ 'home.my_clusters.modal.title' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="deploymentType">{{ 'home.my_clusters.modal.form.deploymentType' | translate }}</label>
                <select class="custom-select" id="deploymentType" name="deploymentType" [(ngModel)]="deploymentType">
                    <option value="docker">Docker</option>
                    <option value="kubernates">Kubernates</option>
                    <option value="ansible">Ansible</option>
                </select>
            </div>
            <div class="form-group">
                <label for="dbType">{{ 'home.my_clusters.modal.form.dbType' | translate }}</label>
                <select class="custom-select" id="dbType" name="dbType" [(ngModel)]="model.dbType">
                    <option value="mariadb">MariaDB</option>
                    <option value="mysql">MySql</option>
                </select>
            </div>
            <div class="form-group">
                <label for="clusterName">{{ 'home.my_clusters.modal.form.clusterName' | translate }}</label>
                <input type="text" class="form-control" id="clusterName" name="clusterName" [(ngModel)]="model.clusterName" placeholder="{{ 'home.my_clusters.modal.form.clusterName' | translate }}">
            </div>
            <div class="form-group">
                <label for="clusterSize">{{ 'home.my_clusters.modal.form.clusterSize' | translate }}</label>
                <input type="number" class="form-control" id="clusterSize" name="clusterSize" [(ngModel)]="model.clusterSize" placeholder="{{ 'home.my_clusters.modal.form.clusterSize' | translate }}">
            </div>
            <div class="form-group">
                <label for="firstHostPort">{{ 'home.my_clusters.modal.form.firstHostPort' | translate }}</label>
                <input type="number" class="form-control" id="firstHostPort" name="firstHostPort" [(ngModel)]="model.firstHostPort" placeholder="{{ 'home.my_clusters.modal.form.firstHostPort' | translate }}">
                <small class="form-text text-muted">{{portsText()}}</small>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="submitCreateForm(); c('submit')">{{ 'home.my_clusters.modal.submit' | translate }}</button>
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">{{ 'home.my_clusters.modal.close' | translate }}</button>
    </div>
</ng-template>