<div>
  <header class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg">

    <a class="navbar-brand" [routerLink]="['/']" (click)="navbarCollapsed = true">
      <strong>GaleraCluster</strong>
    </a>

    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li ngbDropdown class="nav-item dropdown">
          <div class="nav-link dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle id="dropdownLanguage">
            {{(commonState$ | async).language}}
            <span class="caret"></span>
          </div>
          <div ngbDropdownMenu aria-labelledby="dropdownLanguage" id="dropdownLanguages">
            <div class="dropdown-item" *ngFor="let lang of (commonState$ | async).allLanguages" (click)="setLanguage(lang)">
              {{lang}}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </header>
</div>